@{
    ViewBag.Title = "Contact Us:";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The Lab Coffee Shop<br />
    40 Pearl St NW<br />
    Grand Rapids, MI<br />
    <abbr title="Phone">P:</abbr>
    616.867.5309
</address>

<address>
    <strong>Online orders:</strong>   <a href="mailto:Support@ltheab.com">Support@thelab.com</a><br />
    <strong>Customer Service:</strong> <a href="mailto:Marketing@thelab.com">Marketing@thelab.com</a>
</address>